.DS_Store
CNN/.DS_Store
CNN/data/.DS_Store
CNN/data/animais.zip
CNN/data/lenna.png
CNN/data/mnist_train.csv
CNN/data/synthetic.csv
CNN/data/animais/train/calango/10005.jpg
CNN/data/animais/train/calango/10006.jpg
CNN/data/animais/train/calango/10007.jpg
CNN/data/animais/train/calango/10008.jpg
CNN/data/animais/train/calango/10009.jpg
CNN/data/animais/train/calango/10010.jpg
CNN/data/animais/train/calango/10011.jpg
CNN/data/animais/train/calango/10012.jpg
CNN/data/animais/train/calango/10013.jpg
CNN/data/animais/train/calango/10014.jpg
CNN/data/animais/train/calango/10015.jpg
CNN/data/animais/train/calango/10016.jpg
CNN/data/animais/train/calango/10017.jpg
CNN/data/animais/train/calango/10018.jpg
CNN/data/animais/train/calango/10019.jpg
CNN/data/animais/train/calango/10020.jpg
CNN/data/animais/train/calango/10021.jpg
CNN/data/animais/train/calango/10022.jpg
CNN/data/animais/train/calango/10023.jpg
CNN/data/animais/train/calango/10024.jpg
CNN/data/animais/train/calango/10025.jpg
CNN/data/animais/train/calango/10026.jpg
CNN/data/animais/train/calango/10027.jpg
CNN/data/animais/train/calango/10028.jpg
CNN/data/animais/train/calango/10029.jpg
CNN/data/animais/train/calango/10030.jpg
CNN/data/animais/train/calango/10031.jpg
CNN/data/animais/train/calango/10032.jpg
CNN/data/animais/train/calango/10033.jpg
CNN/data/animais/train/calango/10034.jpg
CNN/data/animais/train/calango/10035.jpg
CNN/data/animais/train/calango/10036.jpg
CNN/data/animais/train/calango/10037.jpg
CNN/data/animais/train/calango/10038.jpg
CNN/data/animais/train/calango/10039.jpg
CNN/data/animais/train/calango/10040.jpg
CNN/data/animais/train/calango/10041.jpg
CNN/data/animais/train/calango/10042.jpg
CNN/data/animais/train/calango/10043.jpg
CNN/data/animais/train/calango/10044.jpg
CNN/data/animais/train/calango/10045.jpg
CNN/data/animais/train/calango/10046.jpg
CNN/data/animais/train/calango/10047.jpg
CNN/data/animais/train/calango/10048.jpg
CNN/data/animais/train/calango/10049.jpg
CNN/data/animais/train/calango/10050.jpg
CNN/data/animais/train/calango/10051.jpg
CNN/data/animais/train/calango/10052.jpg
CNN/data/animais/train/calango/10053.jpg
CNN/data/animais/train/calango/10054.jpg
CNN/data/animais/train/calango/10055.jpg
CNN/data/animais/train/calango/10056.jpg
CNN/data/animais/train/calango/10057.jpg
CNN/data/animais/train/calango/10058.jpg
CNN/data/animais/train/calango/10059.jpg
CNN/data/animais/train/calango/10060.jpg
CNN/data/animais/train/calango/10061.jpg
CNN/data/animais/train/calango/10062.jpg
CNN/data/animais/train/calango/10063.jpg
CNN/data/animais/train/calango/10064.jpg
CNN/data/animais/train/calango/10065.jpg
CNN/data/animais/train/calango/10066.jpg
CNN/data/animais/train/calango/10067.jpg
CNN/data/animais/train/calango/10068.jpg
CNN/data/animais/train/calango/10069.jpg
CNN/data/animais/train/calango/10070.jpg
CNN/data/animais/train/calango/10071.jpg
CNN/data/animais/train/calango/10072.jpg
CNN/data/animais/train/calango/10073.jpg
CNN/data/animais/train/calango/10074.jpg
CNN/data/animais/train/calango/10075.jpg
CNN/data/animais/train/calango/10076.jpg
CNN/data/animais/train/calango/10077.jpg
CNN/data/animais/train/calango/10078.jpg
CNN/data/animais/train/calango/10079.jpg
CNN/data/animais/train/calango/10080.jpg
CNN/data/animais/train/calango/10081.jpg
CNN/data/animais/train/calango/10082.jpg
CNN/data/animais/train/calango/10083.jpg
CNN/data/animais/train/calango/10084.jpg
CNN/data/animais/train/calango/10085.jpg
CNN/data/animais/train/calango/10086.jpg
CNN/data/animais/train/calango/10087.jpg
CNN/data/animais/train/calango/10088.jpg
CNN/data/animais/train/calango/10089.jpg
CNN/data/animais/train/calango/10090.jpg
CNN/data/animais/train/calango/10091.jpg
CNN/data/animais/train/calango/10092.jpg
CNN/data/animais/train/calango/10093.jpg
CNN/data/animais/train/calango/10094.jpg
CNN/data/animais/train/calango/10095.jpg
CNN/data/animais/train/calango/10096.jpg
CNN/data/animais/train/calango/10097.jpg
CNN/data/animais/train/calango/10098.jpg
CNN/data/animais/train/calango/10099.jpg
CNN/data/animais/train/calango/10100.jpg
CNN/data/animais/train/calango/10101.jpg
CNN/data/animais/train/calango/10102.jpg
CNN/data/animais/train/calango/10103.jpg
CNN/data/animais/train/calango/10104.jpg
CNN/data/animais/train/calango/10105.jpg
CNN/data/animais/train/calango/10106.jpg
CNN/data/animais/train/calango/10107.jpg
CNN/data/animais/train/calango/10108.png
CNN/data/animais/train/calango/10109.jpg
CNN/data/animais/train/calango/10110.jpg
CNN/data/animais/train/calango/10111.jpg
CNN/data/animais/train/calango/10112.jpg
CNN/data/animais/train/calango/10113.jpg
CNN/data/animais/train/calango/10114.jpg
CNN/data/animais/train/calango/10115.jpg
CNN/data/animais/train/calango/10116.jpg
CNN/data/animais/train/calango/10117.jpg
CNN/data/animais/train/calango/10118.jpg
CNN/data/animais/train/calango/10119.jpg
CNN/data/animais/train/calango/10120.jpg
CNN/data/animais/train/calango/10121.jpg
CNN/data/animais/train/calango/10122.jpg
CNN/data/animais/train/calango/10123.jpg
CNN/data/animais/train/calango/10124.jpg
CNN/data/animais/train/calango/10125.jpg
CNN/data/animais/train/calango/10126.jpg
CNN/data/animais/train/calango/10127.jpg
CNN/data/animais/train/calango/10128.jpg
CNN/data/animais/train/calango/10129.jpg
CNN/data/animais/train/calango/10130.jpg
CNN/data/animais/train/calango/10131.jpg
CNN/data/animais/train/calango/10132.jpg
CNN/data/animais/train/calango/10133.jpg
CNN/data/animais/train/calango/10134.jpg
CNN/data/animais/train/calango/10135.jpg
CNN/data/animais/train/calango/10136.jpg
CNN/data/animais/train/calango/10137.jpg
CNN/data/animais/train/calango/10138.jpg
CNN/data/animais/train/calango/10139.jpg
CNN/data/animais/train/calango/10140.jpg
CNN/data/animais/train/calango/10141.jpg
CNN/data/animais/train/calango/10142.jpg
CNN/data/animais/train/calango/10143.jpg
CNN/data/animais/train/calango/10144.jpg
CNN/data/animais/train/calango/10145.jpg
CNN/data/animais/train/calango/10146.jpg
CNN/data/animais/train/calango/10147.jpg
CNN/data/animais/train/calango/10148.jpg
CNN/data/animais/train/calango/10149.jpg
CNN/data/animais/train/calango/10150.jpg
CNN/data/animais/train/calango/10151.jpg
CNN/data/animais/train/calango/10152.jpg
CNN/data/animais/train/calango/10153.jpg
CNN/data/animais/train/calango/10154.jpg
CNN/data/animais/train/calango/10155.jpg
CNN/data/animais/train/calango/10156.jpg
CNN/data/animais/train/calango/10157.jpg
CNN/data/animais/train/calango/10158.jpg
CNN/data/animais/train/calango/10159.jpg
CNN/data/animais/train/calango/10160.jpg
CNN/data/animais/train/calango/10161.jpg
CNN/data/animais/train/calango/10162.jpg
CNN/data/animais/train/calango/10163.jpg
CNN/data/animais/train/calango/10164.jpg
CNN/data/animais/train/calango/10165.jpg
CNN/data/animais/train/calango/10166.jpg
CNN/data/animais/train/calango/10167.png
CNN/data/animais/train/calango/10168.jpg
CNN/data/animais/train/calango/10169.jpg
CNN/data/animais/train/calango/10170.jpg
CNN/data/animais/train/calango/10171.jpg
CNN/data/animais/train/calango/10172.jpg
CNN/data/animais/train/calango/10173.jpg
CNN/data/animais/train/calango/10174.jpg
CNN/data/animais/train/calango/10175.jpg
CNN/data/animais/train/calango/10176.jpg
CNN/data/animais/train/calango/10177.jpg
CNN/data/animais/train/calango/10178.jpg
CNN/data/animais/train/calango/10179.jpg
CNN/data/animais/train/calango/10180.jpg
CNN/data/animais/train/calango/10181.jpg
CNN/data/animais/train/calango/10182.jpg
CNN/data/animais/train/calango/10183.jpg
CNN/data/animais/train/calango/10184.jpg
CNN/data/animais/train/calango/10185.jpg
CNN/data/animais/train/calango/10186.jpg
CNN/data/animais/train/calango/10187.jpg
CNN/data/animais/train/calango/10188.jpg
CNN/data/animais/train/calango/10189.jpg
CNN/data/animais/train/calango/10190.jpg
CNN/data/animais/train/calango/10191.jpg
CNN/data/animais/train/calango/10192.jpg
CNN/data/animais/train/calango/10193.jpg
CNN/data/animais/train/calango/10194.jpg
CNN/data/animais/train/calango/10195.jpg
CNN/data/animais/train/calango/10196.jpg
CNN/data/animais/train/calango/10197.jpg
CNN/data/animais/train/calango/10198.png
CNN/data/animais/train/calango/10199.jpg
CNN/data/animais/train/calango/10200.jpg
CNN/data/animais/train/calango/10201.jpg
CNN/data/animais/train/calango/10202.jpg
CNN/data/animais/train/calango/10203.jpg
CNN/data/animais/train/calango/10204.jpg
CNN/data/animais/train/tatu/10001.jpg
CNN/data/animais/train/tatu/10002.jpg
CNN/data/animais/train/tatu/10003.jpg
CNN/data/animais/train/tatu/10004.jpg
CNN/data/animais/train/tatu/10005.jpg
CNN/data/animais/train/tatu/10006.jpg
CNN/data/animais/train/tatu/10007.jpg
CNN/data/animais/train/tatu/10008.jpg
CNN/data/animais/train/tatu/10009.jpg
CNN/data/animais/train/tatu/10010.jpg
CNN/data/animais/train/tatu/10011.jpg
CNN/data/animais/train/tatu/10012.jpg
CNN/data/animais/train/tatu/10013.jpg
CNN/data/animais/train/tatu/10014.jpg
CNN/data/animais/train/tatu/10015.jpg
CNN/data/animais/train/tatu/10016.jpg
CNN/data/animais/train/tatu/10017.jpg
CNN/data/animais/train/tatu/10018.jpg
CNN/data/animais/train/tatu/10019.jpg
CNN/data/animais/train/tatu/10020.jpg
CNN/data/animais/train/tatu/10021.jpg
CNN/data/animais/train/tatu/10022.jpg
CNN/data/animais/train/tatu/10023.jpg
CNN/data/animais/train/tatu/10024.jpg
CNN/data/animais/train/tatu/10025.jpg
CNN/data/animais/train/tatu/10026.jpg
CNN/data/animais/train/tatu/10027.jpg
CNN/data/animais/train/tatu/10028.jpg
CNN/data/animais/train/tatu/10029.jpg
CNN/data/animais/train/tatu/10030.jpg
CNN/data/animais/train/tatu/10031.jpg
CNN/data/animais/train/tatu/10032.jpg
CNN/data/animais/train/tatu/10033.jpg
CNN/data/animais/train/tatu/10034.jpg
CNN/data/animais/train/tatu/10035.jpg
CNN/data/animais/train/tatu/10036.jpg
CNN/data/animais/train/tatu/10037.jpg
CNN/data/animais/train/tatu/10038.jpg
CNN/data/animais/train/tatu/10039.jpg
CNN/data/animais/train/tatu/10040.jpg
CNN/data/animais/train/tatu/10041.jpg
CNN/data/animais/train/tatu/10042.jpg
CNN/data/animais/train/tatu/10043.jpg
CNN/data/animais/train/tatu/10044.jpg
CNN/data/animais/train/tatu/10045.jpg
CNN/data/animais/train/tatu/10046.jpg
CNN/data/animais/train/tatu/10047.jpg
CNN/data/animais/train/tatu/10048.jpg
CNN/data/animais/train/tatu/10049.jpg
CNN/data/animais/train/tatu/10050.jpg
CNN/data/animais/train/tatu/10051.jpg
CNN/data/animais/train/tatu/10052.jpg
CNN/data/animais/train/tatu/10053.jpg
CNN/data/animais/train/tatu/10054.jpg
CNN/data/animais/train/tatu/10055.jpg
CNN/data/animais/train/tatu/10056.jpg
CNN/data/animais/train/tatu/10057.jpg
CNN/data/animais/train/tatu/10058.jpg
CNN/data/animais/train/tatu/10059.jpg
CNN/data/animais/train/tatu/10060.jpg
CNN/data/animais/train/tatu/10061.jpg
CNN/data/animais/train/tatu/10062.jpg
CNN/data/animais/train/tatu/10063.jpg
CNN/data/animais/train/tatu/10064.jpg
CNN/data/animais/train/tatu/10065.jpg
CNN/data/animais/train/tatu/10066.jpg
CNN/data/animais/train/tatu/10067.jpg
CNN/data/animais/train/tatu/10068.jpg
CNN/data/animais/train/tatu/10069.jpg
CNN/data/animais/train/tatu/10070.jpg
CNN/data/animais/train/tatu/10071.jpg
CNN/data/animais/train/tatu/10072.jpg
CNN/data/animais/train/tatu/10073.jpg
CNN/data/animais/train/tatu/10074.jpg
CNN/data/animais/train/tatu/10075.jpg
CNN/data/animais/train/tatu/10076.jpg
CNN/data/animais/train/tatu/10077.jpg
CNN/data/animais/train/tatu/10078.jpg
CNN/data/animais/train/tatu/10079.jpg
CNN/data/animais/train/tatu/10080.jpg
CNN/data/animais/train/tatu/10081.jpg
CNN/data/animais/train/tatu/10082.jpg
CNN/data/animais/train/tatu/10083.jpg
CNN/data/animais/train/tatu/10084.jpg
CNN/data/animais/train/tatu/10085.jpg
CNN/data/animais/train/tatu/10086.jpg
CNN/data/animais/train/tatu/10087.jpg
CNN/data/animais/train/tatu/10088.jpg
CNN/data/animais/train/tatu/10089.jpg
CNN/data/animais/train/tatu/10090.jpg
CNN/data/animais/train/tatu/10091.jpg
CNN/data/animais/train/tatu/10092.jpg
CNN/data/animais/train/tatu/10093.jpg
CNN/data/animais/train/tatu/10094.jpg
CNN/data/animais/train/tatu/10095.jpg
CNN/data/animais/train/tatu/10096.jpg
CNN/data/animais/train/tatu/10097.jpg
CNN/data/animais/train/tatu/10098.jpg
CNN/data/animais/train/tatu/10099.jpg
CNN/data/animais/train/tatu/10100.jpg
CNN/data/animais/train/tatu/10101.jpg
CNN/data/animais/train/tatu/10102.jpg
CNN/data/animais/train/tatu/10103.jpg
CNN/data/animais/train/tatu/10104.jpg
CNN/data/animais/train/tatu/10105.jpg
CNN/data/animais/train/tatu/10106.jpg
CNN/data/animais/train/tatu/10107.jpg
CNN/data/animais/train/tatu/10108.jpg
CNN/data/animais/train/tatu/10109.jpg
CNN/data/animais/train/tatu/10110.png
CNN/data/animais/train/tatu/10111.jpg
CNN/data/animais/train/tatu/10112.jpg
CNN/data/animais/train/tatu/10113.jpg
CNN/data/animais/train/tatu/10114.jpg
CNN/data/animais/train/tatu/10115.jpg
CNN/data/animais/train/tatu/10116.jpg
CNN/data/animais/train/tatu/10117.jpg
CNN/data/animais/train/tatu/10118.jpg
CNN/data/animais/train/tatu/10119.jpg
CNN/data/animais/train/tatu/10120.jpg
CNN/data/animais/train/tatu/10121.jpg
CNN/data/animais/train/tatu/10122.jpg
CNN/data/animais/train/tatu/10123.jpg
CNN/data/animais/train/tatu/10124.jpg
CNN/data/animais/train/tatu/10125.jpg
CNN/data/animais/train/tatu/10126.jpg
CNN/data/animais/train/tatu/10127.jpg
CNN/data/animais/train/tatu/10128.png
CNN/data/animais/train/tatu/10129.jpg
CNN/data/animais/train/tatu/10130.jpg
CNN/data/animais/train/tatu/10131.jpg
CNN/data/animais/train/tatu/10132.jpg
CNN/data/animais/train/tatu/10133.jpg
CNN/data/animais/train/tatu/10134.jpg
CNN/data/animais/train/tatu/10135.jpg
CNN/data/animais/train/tatu/10136.jpg
CNN/data/animais/train/tatu/10137.jpg
CNN/data/animais/train/tatu/10138.jpg
CNN/data/animais/train/tatu/10139.jpg
CNN/data/animais/train/tatu/10140.png
CNN/data/animais/train/tatu/10141.jpg
CNN/data/animais/train/tatu/10142.jpg
CNN/data/animais/train/tatu/10143.jpg
CNN/data/animais/train/tatu/10144.jpg
CNN/data/animais/train/tatu/10145.jpg
CNN/data/animais/train/tatu/10146.jpg
CNN/data/animais/train/tatu/10147.jpg
CNN/data/animais/train/tatu/10148.jpg
CNN/data/animais/train/tatu/10149.jpg
CNN/data/animais/train/tatu/10150.jpg
CNN/data/animais/train/tatu/10151.jpg
CNN/data/animais/train/tatu/10152.jpg
CNN/data/animais/train/tatu/10153.jpg
CNN/data/animais/train/tatu/10154.jpg
CNN/data/animais/train/tatu/10155.jpg
CNN/data/animais/train/tatu/10156.jpg
CNN/data/animais/train/tatu/10157.jpg
CNN/data/animais/train/tatu/10158.jpg
CNN/data/animais/train/tatu/10159.jpg
CNN/data/animais/train/tatu/10160.jpg
CNN/data/animais/train/tatu/10161.jpg
CNN/data/animais/train/tatu/10162.jpg
CNN/data/animais/train/tatu/10163.jpg
CNN/data/animais/train/tatu/10164.jpg
CNN/data/animais/train/tatu/10165.jpg
CNN/data/animais/train/tatu/10166.jpg
CNN/data/animais/train/tatu/10167.jpg
CNN/data/animais/train/tatu/10168.png
CNN/data/animais/train/tatu/10169.png
CNN/data/animais/train/tatu/10170.jpg
CNN/data/animais/train/tatu/10171.jpg
CNN/data/animais/train/tatu/10172.jpg
CNN/data/animais/train/tatu/10173.jpg
CNN/data/animais/train/tatu/10174.jpg
CNN/data/animais/train/tatu/10175.jpg
CNN/data/animais/train/tatu/10176.jpg
CNN/data/animais/train/tatu/10177.jpg
CNN/data/animais/train/tatu/10178.jpg
CNN/data/animais/train/tatu/10179.jpg
CNN/data/animais/train/tatu/10180.jpg
CNN/data/animais/train/tatu/10181.jpg
CNN/data/animais/train/tatu/10182.jpg
CNN/data/animais/train/tatu/10183.jpg
CNN/data/animais/train/tatu/10184.jpg
CNN/data/animais/train/tatu/10185.jpg
CNN/data/animais/train/tatu/10186.jpg
CNN/data/animais/train/tatu/10187.jpg
CNN/data/animais/train/tatu/10188.jpg
CNN/data/animais/train/tatu/10189.png
CNN/data/animais/train/tatu/10190.jpg
CNN/data/animais/train/tatu/10191.jpg
CNN/data/animais/train/tatu/10192.jpg
CNN/data/animais/train/tatu/10193.jpg
CNN/data/animais/train/tatu/10194.jpg
CNN/data/animais/train/tatu/10195.jpg
CNN/data/animais/train/tatu/10196.jpg
CNN/data/animais/train/tatu/10197.png
CNN/data/animais/train/tatu/10198.jpg
CNN/data/animais/train/tatu/10199.jpg
CNN/data/animais/train/tatu/10200.jpg
CNN/data/animais/val/calango/10205.jpg
CNN/data/animais/val/calango/10206.jpg
CNN/data/animais/val/calango/10207.jpg
CNN/data/animais/val/calango/10208.jpg
CNN/data/animais/val/calango/10209.jpg
CNN/data/animais/val/calango/10211.jpg
CNN/data/animais/val/calango/10212.jpg
CNN/data/animais/val/calango/10213.png
CNN/data/animais/val/calango/10215.jpg
CNN/data/animais/val/calango/10217.jpg
CNN/data/animais/val/calango/10218.jpg
CNN/data/animais/val/calango/10219.jpg
CNN/data/animais/val/calango/10220.jpg
CNN/data/animais/val/calango/10222.jpg
CNN/data/animais/val/calango/10223.jpg
CNN/data/animais/val/calango/10224.jpg
CNN/data/animais/val/calango/10225.jpg
CNN/data/animais/val/calango/10226.jpg
CNN/data/animais/val/calango/10227.jpg
CNN/data/animais/val/calango/10228.jpg
CNN/data/animais/val/calango/10229.jpg
CNN/data/animais/val/calango/10230.jpg
CNN/data/animais/val/calango/10231.jpg
CNN/data/animais/val/calango/10232.jpg
CNN/data/animais/val/calango/10234.jpg
CNN/data/animais/val/calango/10235.jpg
CNN/data/animais/val/calango/10236.jpg
CNN/data/animais/val/calango/10238.jpg
CNN/data/animais/val/calango/10239.jpg
CNN/data/animais/val/calango/10240.jpg
CNN/data/animais/val/calango/10241.png
CNN/data/animais/val/calango/10242.jpg
CNN/data/animais/val/calango/10243.jpg
CNN/data/animais/val/calango/10244.jpg
CNN/data/animais/val/calango/10245.png
CNN/data/animais/val/calango/10246.jpg
CNN/data/animais/val/calango/10247.jpg
CNN/data/animais/val/calango/10248.jpg
CNN/data/animais/val/calango/10250.jpg
CNN/data/animais/val/calango/10252.jpg
CNN/data/animais/val/calango/10254.jpg
CNN/data/animais/val/calango/10255.jpg
CNN/data/animais/val/calango/10256.jpg
CNN/data/animais/val/calango/10257.jpg
CNN/data/animais/val/calango/10260.png
CNN/data/animais/val/calango/10261.jpg
CNN/data/animais/val/calango/10262.jpg
CNN/data/animais/val/calango/10264.jpg
CNN/data/animais/val/calango/10265.jpg
CNN/data/animais/val/calango/10266.jpg
CNN/data/animais/val/calango/10268.jpg
CNN/data/animais/val/calango/10269.jpg
CNN/data/animais/val/calango/10270.jpg
CNN/data/animais/val/calango/10272.jpg
CNN/data/animais/val/calango/10274.jpg
CNN/data/animais/val/calango/10275.jpg
CNN/data/animais/val/calango/10276.jpg
CNN/data/animais/val/calango/10277.jpg
CNN/data/animais/val/calango/10278.jpg
CNN/data/animais/val/calango/10279.webp
CNN/data/animais/val/calango/10280.jpg
CNN/data/animais/val/calango/10281.jpg
CNN/data/animais/val/calango/10282.jpg
CNN/data/animais/val/calango/10283.webp
CNN/data/animais/val/calango/10284.jpg
CNN/data/animais/val/calango/10285.jpg
CNN/data/animais/val/calango/10286.jpg
CNN/data/animais/val/calango/10287.png
CNN/data/animais/val/calango/10288.jpg
CNN/data/animais/val/tatu/10201.jpg
CNN/data/animais/val/tatu/10202.jpg
CNN/data/animais/val/tatu/10203.jpg
CNN/data/animais/val/tatu/10204.jpg
CNN/data/animais/val/tatu/10205.jpg
CNN/data/animais/val/tatu/10206.jpg
CNN/data/animais/val/tatu/10207.jpg
CNN/data/animais/val/tatu/10208.jpg
CNN/data/animais/val/tatu/10209.jpg
CNN/data/animais/val/tatu/10210.png
CNN/data/animais/val/tatu/10211.jpg
CNN/data/animais/val/tatu/10212.jpg
CNN/data/animais/val/tatu/10213.jpg
CNN/data/animais/val/tatu/10214.jpg
CNN/data/animais/val/tatu/10215.jpg
CNN/data/animais/val/tatu/10216.jpg
CNN/data/animais/val/tatu/10217.jpg
CNN/data/animais/val/tatu/10218.jpg
CNN/data/animais/val/tatu/10219.jpg
CNN/data/animais/val/tatu/10220.jpg
CNN/data/animais/val/tatu/10221.jpg
CNN/data/animais/val/tatu/10222.jpg
CNN/data/animais/val/tatu/10223.jpg
CNN/data/animais/val/tatu/10224.jpg
CNN/data/animais/val/tatu/10225.jpg
CNN/data/animais/val/tatu/10226.jpg
CNN/data/animais/val/tatu/10227.jpg
CNN/data/animais/val/tatu/10228.jpg
CNN/data/animais/val/tatu/10229.jpg
CNN/data/animais/val/tatu/10230.jpg
CNN/data/animais/val/tatu/10231.jpg
CNN/data/animais/val/tatu/10232.jpg
CNN/data/animais/val/tatu/10235.jpg
CNN/data/animais/val/tatu/10236.jpg
CNN/data/animais/val/tatu/10238.jpg
CNN/data/animais/val/tatu/10239.png
CNN/data/animais/val/tatu/10240.jpg
CNN/data/animais/val/tatu/10241.jpg
CNN/data/animais/val/tatu/10242.jpg
CNN/data/animais/val/tatu/10243.jpg
CNN/data/animais/val/tatu/10244.jpg
CNN/data/animais/val/tatu/10245.jpg
CNN/data/animais/val/tatu/10246.jpg
CNN/data/animais/val/tatu/10247.jpg
CNN/data/animais/val/tatu/10248.jpg
CNN/data/animais/val/tatu/10249.jpg
CNN/data/animais/val/tatu/10250.jpg
CNN/data/animais/val/tatu/10251.jpg
CNN/data/animais/val/tatu/10252.jpg
CNN/data/animais/val/tatu/10253.jpg
CNN/data/animais/val/tatu/10254.jpg
CNN/data/animais/val/tatu/10255.jpg
CNN/data/animais/val/tatu/10256.jpg
CNN/data/MNIST/raw/t10k-images-idx3-ubyte
CNN/data/MNIST/raw/t10k-images-idx3-ubyte.gz
CNN/data/MNIST/raw/t10k-labels-idx1-ubyte
CNN/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
CNN/data/MNIST/raw/train-images-idx3-ubyte
CNN/data/MNIST/raw/train-images-idx3-ubyte.gz
CNN/data/MNIST/raw/train-labels-idx1-ubyte
CNN/data/MNIST/raw/train-labels-idx1-ubyte.gz
CNN/MNIST/raw/t10k-images-idx3-ubyte
CNN/MNIST/raw/t10k-images-idx3-ubyte.gz
CNN/MNIST/raw/t10k-labels-idx1-ubyte
CNN/MNIST/raw/t10k-labels-idx1-ubyte.gz
CNN/MNIST/raw/train-images-idx3-ubyte
CNN/MNIST/raw/train-images-idx3-ubyte.gz
CNN/MNIST/raw/train-labels-idx1-ubyte
CNN/MNIST/raw/train-labels-idx1-ubyte.gz
